.login {
  height: 100vh;
  width: 100%;
}

.loginCenter {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  max-width: 400px;
  align-items: center;
}
.loginLogo {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
}
.loginImg {
  width: 100%;
}

.loginText {
  margin-top: 2em;
  width: 100%;
}

.loginButton {
  width: 60%;
  margin-top: 3rem;
  padding: 0.3em;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.4em;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 800;
  transition: all 100ms ease-in;
}

.loginButton:hover {
  background-color: #4fa3f6;
  color: #eff2f5;
  transform: scale(1.07);
  transition: all 100ms ease-in;
}
